html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, img, ul, li {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
body {
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #FFF;
	font-size: 18px;
	background: #090202;
}

h1 {
	font-size: 52px;
}

h1,h2 {
	text-align: center;
}

h1,h2,h3,h4 {
	font-weight: 100;
}

#photo_container {
    position:relative; 
	width: 1000px;
	height: 625px;
	margin: auto;
	background-color: #090202;
}

p {
	text-align: center;
}
